.contactsMainBlock {
    min-height: 100vh;
    background-color: cornsilk;
}
.contactsInnerBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contactsForm {
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.input {
    height: 50px;
}
.textArea {
    height: 200px;
    resize: none;
}

@media screen and (max-width: 780px) {
    .contactsForm {
        width: 90%;
    }
}
@media screen and (min-width: 1130px) {
    .contactsForm {
        width: 50%;
    }
}

