.contactsMainBlock {
    display: flex;
    align-items: center;
    min-height: 70vh;
}
.contactsInnerBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contactsForm {
    margin-top: 40px;
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.input {
    height: 50px;
}
.submitButton{
    margin-top: 60px;
    font-size: 27px;
    font-weight: bolder;
    color: mintcream;
    background: transparent;
    border: none;
    font-family: 'Oxanium', cursive;
    cursor: pointer;
}
.textArea {
    height: 200px;
    resize: none;
}

@media screen and (max-width: 780px) {
    .contactsForm {
        width: 90%;
    }
}
@media screen and (min-width: 1130px) {
    .contactsForm {
        width: 50%;
    }
}

