.title {
    position: relative;
    text-align: end;
}
.title::after {
    position: absolute;
    content: '';
    background: #f0dc51;
    width: 15px;
    height: 2px;
    bottom: 30px;
}
.title::after {
    animation: my-animation 800ms linear infinite;
}


@keyframes my-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}