.skill {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    margin: auto;
}
.picture {
    width: 100%;
}
.title {

}
.description {
    width: 100%;
    padding: 20px;
}