.skill {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: #d3d3d3 0px 4px 18px , rgb(255 255 255 / 30%) 0px 1px 0px inset;
    background: #d3d3d3;
    padding: 15px;
}
.picture img{
    width: 100%;
}
.skillTitle {
    letter-spacing: 1px;
    font-weight: 200;

}
.description {
    width: 100%;
    padding-top: 20px;
    font-weight: 300;
    font-size: medium;
    background-color: rgba(236, 217, 207, 0.18);
    border-radius: 2px;
    border: 1px solid #d3d3d3;
}
.description p {

}
