.skill {
    width: 250px;
    background-color: rgba(64,76,131,0.76);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    margin: auto;
}
.picture {
    width: 100%;
    background-color: rgba(26,32,28,0.76);
}
.title {

}
.description {
    width: 100%;
    padding: 20px;
}