.skillsBlock {
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
.title {
}
.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}