.mainBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
}
.mainContainer {
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
}

.greetings {
    font-weight: bolder;
    font-size: large;
    max-width: max-content;
    max-height: max-content;
}
.photoFrame {
    max-width: 500px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    -webkit-animation: morph 8s ease-in-out 1s infinite;
    animation: morph 8s ease-in-out 1s infinite;
    background-blend-mode: multiply;
    box-shadow: 0 0 0 9px hsl(0, 0%, 83%);
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    overflow: hidden;
}
@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.photo {
    max-width: 500px;
    width: 80vw;
    margin: -6px;
}
.greetings {
    margin-top: 7rem;
    margin-bottom: -50px;
}
.greetings h2 {
    margin-top: 10rem;
}
@media screen and (max-width: 950px){
    .mainContainer {
        flex-direction: column-reverse;
    }
    .greetings h2 {
        margin-top: 5rem;
    }
}
