.mainProjectBlock {
    width: 95%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 2px;
    background-color: #2b2b2bc7;
    box-shadow: 0 0 5px #d3d3d330, inset 0 0 0 hsl(0deg 0% 100% / 30%);
}
.mainProjectBlock a {
    text-decoration: none;
    color: inherit;
}
.projectBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    text-align: center;
    position: relative;
    margin: 0 auto;
    height: 30vw;
    width: 70vw;
    background: round;
    transform: scale(1);
    transition: 300ms;
}


.projectBlock::before {
    position: absolute;
    content: '';
    background-color: #1f1f20;
    opacity: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.projectBlock:hover .viewRef {
    text-shadow: #1f1f20 2px 4px 3px;
    opacity: 100%;
    transform: scale(1.03);
}
.projectBlock:hover {
    filter: none;
    background: round;
    transform: scale(1.03);
}
.projectBlock:hover::before {
    opacity: 30%;
}

.viewRef{
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 50px;
    margin: 0 auto;
    opacity: 0;
    transform: scale(1);
    transition: 300ms;

}

/*.viewRef:hover {*/
/*   */
/*}*/


@keyframes my-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 680px) {
    .projectBlock {
        width: 90vw;
        height: 40vw;
    }
}



.infoBlock{
    width: 70vw;
}
.projectName {

}

.projectDescription {

}