* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Oxanium',
    monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #d3d3d3;
    line-height: 30px;
    overflow-x: hidden;
    background-color: #1f1f20;
}

p {
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 300;
}
h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 1.2;
    font-weight: 700;
}
h3 {
    font-size: 26px;
    letter-spacing: 2px;
    line-height: 1.2;
    font-weight: 500;
    color: rgb(240,220,81);
}
h2 {
    margin-bottom: 20px;
    font-size: 36px;
    letter-spacing: 5px;
    line-height: 1.2;
    font-weight: 300;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
