.mainNavDiv {
    width: 100vw;
}
.nav {
    display: flex;
    min-width: 300px;
    justify-content: space-evenly;
    margin: 10px;
}
li {
    display: flex;
    flex-direction: column;
}
.navElement {
    text-decoration: none;
    color: inherit;
}
.navElementActive {
    font-size: 27px;
    font-weight: bolder;
    color: mintcream;
    text-decoration: none;
}
