.footerMainBlock {
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    min-height: 300px;
    font-variant: all-petite-caps;
    place-items: flex-start;
    width: 100%;
}
.footerInnerBlock {
    z-index: 1000;
    margin-top: -43px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.myName {

}
.someBlocks {
    z-index: 1000;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.someBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 30px;
    height: 30px;
    border-radius: 500px;
    background-color: mintcream;
    margin: 10px;
}
.someBlock img {
    width: 56px;
}
.pol {
    z-index: 500;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background-color: #d3d3d3;
    overflow: hidden;
}
.pol:before,
.pol:after {
     content: "";
     position: absolute;
     left: 50%;
     min-width: 300vw;
     min-height: 300vw;
     background-color: #1f1f20;
     animation-name: rotate;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
 }

.pol:before {
     bottom: 15vh;
     border-radius: 45%;
     animation-duration: 10s;
 }

.pol:after {
     bottom: 12vh;
     opacity: .5;
     border-radius: 47%;
     animation-duration: 10s;
 }


@keyframes rotate {
    0% {transform: translate(-50%, 0) rotateZ(0deg);}
    50% {transform: translate(-50%, -2%) rotateZ(180deg);}
    100% {transform: translate(-50%, 0%) rotateZ(360deg);}
}


.footerInfo {

}