.projectsBlock {
    min-height: 100vh;
    background-color: rgba(115,131,102,0.76);
}
.projectsContainer {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(81,15,138,0.52);
}
.label h2 {

}
.projects {
    border: 1px solid mintcream;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
