.projectsBlock {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.projectsContainer {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
/*.label h2 {*/
/*    margin: 0;*/
/*    font-size: 36px;*/
/*    letter-spacing: 5px;*/
/*    line-height: 1.2;*/
/*    font-weight: 300;*/
/*}*/
.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
